input {
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 1%;
    padding: 4px 24px;
}

.content {
    display: block;
    margin-top: 4%;
}

textarea {
    height: 200px;
    width: 420px;
    padding: 2%;
    overflow-y: scroll;
}

button {
    display: block;
    margin: auto;
    margin-top: 2%;
    font-size: 14px;
    margin-bottom: 2%;
}